@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

/* Variables */

:root {
    --primary-color: #0A88A4;
    --secondary-color: #3EC0DD;
    --bg-color: #F9FAFB;
}

/********** INITIALS **********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-color);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

main {
    width: 1120px;
}

/********** HEADER **********/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fcfbff;
    box-shadow: 0 1px 0 #ececec;
    max-width: 1120px;
    width: 100%;
}

header > div.logo > img{
    height: 60px;
    border-radius: 50%;
}

.nav-list {
    display: flex;
    gap: 30px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: all 250ms ease-in-out;
}

a:hover {
    color: var(--secondary-color);
}

section#home {
    height: calc(100vh + 80px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 20px;
    width: 100%;
}

.home-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: justify;
}

button {
    border: none;
    width: 150px;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 250ms ease-in-out;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0);
}

button a {
    color: white;
}

button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 25px var(--primary-color);
}

.home-img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img img {
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

#skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    height: 500px;

}

section#skills > div {
    transition: all 250ms ease-in-out;
}

section#skills > div:hover {
    transform: scale(1.2);
}

section#skills > h2 {
    width: 100%;
    text-align: center;
}

section#skills p {
    text-align: center;
}

section#education {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: space-around;
    align-items: center ;
    justify-content: center;
    height: calc(100vh + 80px);
    gap: 30px;
}

.education-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.education-description {
    display: flex;
    flex-direction: column;
}
section#projects {
    height: calc(100vh + 80px);
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.project-img {
    width: 50%;
}

.project-img img {
    box-shadow: 0 1px 2px #0003;
    object-fit: cover;
    width: 80%;
}

.project-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.swiper {
    width: 95vw;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #7700ff;
}

.swiper-pagination-bullet-active {
    background-color: #7700ff;
}

/* LANGUAGES */

section#languages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section#languages h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 90px;
}

/* CONTACT */

#contact {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
    padding: 5px 20px;
}

input, textarea, button {
    box-shadow: 0 1px 2px #ddd;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
}

/* FOOTER */

footer {
    box-shadow: 0 -1px 0 0 #ececec;
    padding: 50px;
    text-align: center;
}

/* MOBILE */

@media (max-width: 450px) {
    header {
        justify-content: center;
    }

    .logo {
        display: none;
    }

    section#home {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .home-info, .home-img {
        width: 100%;
        padding: 10px;
    }

    .swiper-slide {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .project-img {
        width: 100%;
    }

    .project-info {
        width: 80%;
    }
}